<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head(~{ :: title})">
    <title>Products</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="card card-primary">
                <div class="card-header">
                    <h1 class="card-title">Auctions</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(auctions)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Item</th>
                                <th>Amount</th>
                                <th>Unit</th>
                                <th>Highest bid</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr th:each="auction : ${auctions}">
                                <td th:text="${auction.soldItem.item.name}"></td>
                                <td th:text="${auction.soldItem.amount}"></td>
                                <td th:text="${auction.soldItem.item.unitOfMeasurement}"></td>
                                <td th:text="${auction.highestBid}"></td>
                                <td th:text="${auction.parseDateTime(auction.startTime)}"></td>
                                <td th:text="${auction.parseDateTime(auction.endTime)}"></td>
                                <td><a class="btn btn-warning" href="#" th:href="@{'/bidForm?auction=' + ${auction.id}}">Bid</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-2 mt-3">
            <a class="btn btn-info" href="/auction/form">Create new auction</a>
        </div>
    </div>
</div>
</body>
</html>