<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(~{ :: title})">
    <title>Route form</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container-fluid justify-content-center" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6  offset-3">
            <h1>Calculate shortest route</h1>
        </div>
    </div>
    <div th:if="${error != null}" th:text="${error}" class="alert alert-danger">
    </div>
    <form method="POST" th:action="@{/routes/calculate}">
        <div class="form-row">
            <div class="form-group col-md-6  offset-3">
                <label for="fromLocation">Select from location</label>
                <select class="form-control" id="fromLocation" type="text" name="from">
                    <option th:each="it : ${locations}" th:value="${it.id}" th:text="${it.name}"></option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6  offset-3">
                <label for="toLocation">Select to location</label>
                <select class="form-control" id="toLocation" type="text" name="to">
                    <option th:each="it : ${locations}" th:value="${it.id}" th:text="${it.name}"></option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 offset-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>