<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product create</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.0.0/jquery.min.js" th:href="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid justify-content-center" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6  offset-3">
            <h1>Add product</h1>
        </div>
    </div>
    <form method="POST" th:object="${product}" th:action="@{/products/add}">
        <div class="form-row">
            <div class="form-group col-md-6  offset-3">
                <label for="name">Product name</label>
                <input class="form-control" id="name" placeholder="vaistukai" type="text" th:field="*{name}"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 offset-3">
                <label for="quantity">Quantity</label>
                <input class="form-control" id="quantity" type="number" th:field="*{quantity}"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 offset-3">
                <label for="country">Country</label>
                <input class="form-control" id="country" type="text" th:field="*{country}"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 offset-3">
                <label for="unitOfMeasure">Unit of measure</label>
                <input class="form-control" id="unitOfMeasure" type="text" th:field="*{unitOfMeasure}"/>
            </div>
        </div>

        <input type="hidden" th:field="*{id}"/>

        <div class="form-row">
            <div class="form-group col-md-6 offset-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>