<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(~{ :: title})">
    <title>Item form</title>
</head>
<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="container-fluid justify-content-center" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6  offset-3">
            <h1>Add item</h1>
        </div>
    </div>
    <form method="POST" th:object="${item}" th:action="@{/items/add}">
        <div class="form-row">
            <div class="form-group col-md-6  offset-3">
                <label for="name">Item name</label>
                <input class="form-control" id="name" placeholder="vaistukai" type="text" th:field="*{name}"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 offset-3">
                <label for="quantity">Quantity</label>
                <input class="form-control" id="quantity" type="number" th:field="*{amount}"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 offset-3">
                <label for="imageUrl">Image URL</label>
                <input class="form-control" id="imageUrl" type="text" th:field="*{picture}"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 offset-3">
                <label for="country">Country</label>
                <input class="form-control" id="country" type="text" th:field="*{country}"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 offset-3">
                <label for="unitOfMeasure">Unit of measure</label>
                <input class="form-control" id="unitOfMeasure" type="text" th:field="*{unitOfMeasurement}"/>
            </div>
        </div>

        <input type="hidden" th:field="*{id}"/>

        <div class="form-row">
            <div class="form-group col-md-6 offset-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>