<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head(~{ :: title})">
    <title>Products</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card card-primary">
                <div class="card-header">
                    <h1 class="card-title">My items</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(items)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Unit of measure</th>
                                <th>Rating</th>
                                <th>Country</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>1</td>
                                <td>Drugs</td>
                                <td>10</td>
                                <td>g</td>
                                <td>5.3</td>
                                <td>Germany</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>2</td>
                                <td>Hapiness</td>
                                <td>10</td>
                                <td>g</td>
                                <td>6.8</td>
                                <td>UK</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="item : ${items}">
                                <!--/*@thymesVar id="item" type="com.system.dispatch.models.Item"*/-->
                                <td th:text="${item.id}">1</td>
                                <td th:text="${item.name}">Drugs</td>
                                <td th:text="${item.amount}">10</td>
                                <td th:text="${item.unitOfMeasurement}">g</td>
                                <td th:text="${item.rating}">g</td>
                                <td th:text="${item.country}">g</td>
                                <td><a class="btn btn-info" href="#" th:href="@{'/items/' + ${item.id}}">View</a></td>
                                <td><a class="btn btn-success" href="#" th:href="@{'/items/edit/' + ${item.id}}">Edit</a></td>
                                <td><a onclick="if (!confirmWindow()) {return false}" class="btn btn-danger" href="#" th:href="@{'/items/delete/' + ${item.id}}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            <a href="/createItem">Create new item</a>
        </div>
    </div>
</div>
<script>
    function confirmWindow() {
        return window.confirm("Do you really want to delete this item?");
    }
</script>
</body>
</html>